@using ClinicBigBoarsWeb.Data.Enum
@model ClinicBigBoarsWeb.Models.Hospitalization

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Госпитализация</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalizationCode" class="control-label"></label>
                <input asp-for="HospitalizationCode" class="form-control" />
                <span asp-validation-for="HospitalizationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointedDate" class="control-label"></label>
                <input asp-for="AppointedDate" class="form-control" />
                <span asp-validation-for="AppointedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalizationObj" class="control-label"></label>
                <input asp-for="HospitalizationObj" class="form-control" />
                <span asp-validation-for="HospitalizationObj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conditions" class="control-label"></label>
                <select asp-for="Conditions" asp-items="@Html.GetEnumSelectList<ConditionsType>()" class="form-control"></select>
                <span asp-validation-for="Conditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadlineDate" class="control-label"></label>
                <input asp-for="DeadlineDate" class="form-control" />
                <span asp-validation-for="DeadlineDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Additionally" class="control-label"></label>
                <input asp-for="Additionally" class="form-control" />
                <span asp-validation-for="Additionally" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
